<!DOCTYPE html>
<html>
<title>Spendings v1.0.0</title>
<style type="text/css">
.method {
    text-transform: uppercase;
}
h4 > code {
    font-size: 14px;
}

</style>

<xmp theme="united" style="display:none;">

 
#API Document


## BasePath: http://{{hostname}}/api/1.0

## Api Version: 1.0.0

## Index of Resources and Operations
<ol>
    
        
            
            <li>
                <a href="#get#/categories"><span class="method">get</span> /categories</a>
            </li>
            
            <li>
                <a href="#get#/per-day-report"><span class="method">get</span> /per-day-report</a>
            </li>
            
            <li>
                <a href="#get#/quick-reports"><span class="method">get</span> /quick-reports</a>
            </li>
            
            <li>
                <a href="#get#/record/types"><span class="method">get</span> /record/types</a>
            </li>
            
            <li>
                <a href="#get#/records"><span class="method">get</span> /records</a>
            </li>
            
            <li>
                <a href="#post#/records"><span class="method">post</span> /records</a>
            </li>
            
            <li>
                <a href="#delete#/records"><span class="method">delete</span> /records</a>
            </li>
            
            <li>
                <a href="#get#/records/{id}"><span class="method">get</span> /records/{id}</a>
            </li>
            
            <li>
                <a href="#put#/records/{id}"><span class="method">put</span> /records/{id}</a>
            </li>
            
            <li>
                <a href="#get#/user"><span class="method">get</span> /user</a>
            </li>
            
        
    
</ol>

## Resources

<h4>
    <a name="get#/categories" class="method">get</a>
    `/categories`
</h4>

Get the entire list of categories






###### URL
    http://{{hostname}}/api/1.0/categories
###### Parameters






###### Response

<table border="1">
    <tr>
        <th>Status Code</th>
        <th>Data Type</th>
        <th>Response</th>
    </tr>
    
    
        <tr>
            <td>200</td>
            <td><a href="#/definitions/Categories">Categories</a></td>
            <td>Returns array of Category[]</td>
        </tr>
        [](#)
        
    
        <tr>
            <td>405</td>
            <td><a href="#/definitions/SimpleErrorMessage">SimpleErrorMessage</a></td>
            <td>Method not allowed</td>
        </tr>
        [](#)
        
    
</table>


- - -

<h4>
    <a name="get#/per-day-report" class="method">get</a>
    `/per-day-report`
</h4>

Per day report






###### URL
    http://{{hostname}}/api/1.0/per-day-report
###### Parameters






###### Response

<table border="1">
    <tr>
        <th>Status Code</th>
        <th>Data Type</th>
        <th>Response</th>
    </tr>
    
    
        <tr>
            <td>200</td>
            <td><a href="#/definitions/QuickReport">QuickReport</a></td>
            <td>Returns a PerDayReport object</td>
        </tr>
        [](#)
        
    
        <tr>
            <td>403</td>
            <td><a href="#/definitions/SimpleErrorMessage">SimpleErrorMessage</a></td>
            <td>You have to log into application first</td>
        </tr>
        [](#)
        
    
</table>


- - -

<h4>
    <a name="get#/quick-reports" class="method">get</a>
    `/quick-reports`
</h4>

Quick reports






###### URL
    http://{{hostname}}/api/1.0/quick-reports
###### Parameters






###### Response

<table border="1">
    <tr>
        <th>Status Code</th>
        <th>Data Type</th>
        <th>Response</th>
    </tr>
    
    
        <tr>
            <td>200</td>
            <td><a href="#/definitions/QuickReport">QuickReport</a></td>
            <td>Returns a QuickReport object</td>
        </tr>
        [](#)
        
    
        <tr>
            <td>403</td>
            <td><a href="#/definitions/SimpleErrorMessage">SimpleErrorMessage</a></td>
            <td>You have to log into application first</td>
        </tr>
        [](#)
        
    
</table>


- - -

<h4>
    <a name="get#/record/types" class="method">get</a>
    `/record/types`
</h4>

Get the entire list of record types






###### URL
    http://{{hostname}}/api/1.0/record/types
###### Parameters






###### Response

<table border="1">
    <tr>
        <th>Status Code</th>
        <th>Data Type</th>
        <th>Response</th>
    </tr>
    
    
        <tr>
            <td>200</td>
            <td><a href="#/definitions/RecordTypes">RecordTypes</a></td>
            <td>Returns array of RecordType[]</td>
        </tr>
        [](#)
        
    
        <tr>
            <td>405</td>
            <td><a href="#/definitions/SimpleErrorMessage">SimpleErrorMessage</a></td>
            <td>Method not allowed</td>
        </tr>
        [](#)
        
    
</table>


- - -

<h4>
    <a name="get#/records" class="method">get</a>
    `/records`
</h4>

Get a specific list of records

##### Description
This resource will provide a list of records for a specific user. The list will be reduced to 20 records (by default). Use page and perPage parameters to navigate through all records





###### URL
    http://{{hostname}}/api/1.0/records
###### Parameters


- Query

<table border="1">
<tr>
    <th>Parameter</th>
    <th>Required</th>
    <th>Description</th>
    <th>Data Type</th>
</tr>
    
    <tr>
        <th>page</th>
        <td>optional</td>
        <td>Specify the page of items needed. (Default: 1)</td>
        <td><a href="#Integer">Integer</a></td>
    </tr>

    
    <tr>
        <th>perPage</th>
        <td>optional</td>
        <td>Specify how many items will appear on page. (Default: 20)</td>
        <td><a href="#Integer">Integer</a></td>
    </tr>

    
    <tr>
        <th>categoryId</th>
        <td>optional</td>
        <td>Filter results by category id</td>
        <td><a href="#Integer">Integer</a></td>
    </tr>

</table>




###### Response

<table border="1">
    <tr>
        <th>Status Code</th>
        <th>Data Type</th>
        <th>Response</th>
    </tr>
    
    
        <tr>
            <td>200</td>
            <td><a href="#/definitions/Records">Records</a></td>
            <td>Returns array of Record[]</td>
        </tr>
        [](#)
        
    
        <tr>
            <td>403</td>
            <td><a href="#/definitions/SimpleErrorMessage">SimpleErrorMessage</a></td>
            <td>You have to log into application first</td>
        </tr>
        [](#)
        
    
</table>


- - -

<h4>
    <a name="post#/records" class="method">post</a>
    `/records`
</h4>

Add new Record

##### Description
Will create a new record based on Record object structure





###### URL
    http://{{hostname}}/api/1.0/records
###### Parameters



- Body

<table border="1">
<tr>
    <th>Parameter</th>
    <th>Required</th>
    <th>Description</th>
    <th>Data Type</th>
</tr>
    
    <tr>
        <th>body</th>
        <td>required</td>
        <td>Record object that need to be added</td>
        <td><a href="#/definitions/Record">Record</a></td>
    </tr>

</table>



###### Response

<table border="1">
    <tr>
        <th>Status Code</th>
        <th>Data Type</th>
        <th>Response</th>
    </tr>
    
    
        <tr>
            <td>201</td>
            <td><a href="#/definitions/Record">Record</a></td>
            <td>A new Record object was created</td>
        </tr>
        [](#)
        
    
        <tr>
            <td>403</td>
            <td><a href="#/definitions/SimpleErrorMessage">SimpleErrorMessage</a></td>
            <td>You have to log into application first</td>
        </tr>
        [](#)
        
    
</table>


- - -

<h4>
    <a name="delete#/records" class="method">delete</a>
    `/records`
</h4>

Remove a Record

##### Description
Will remove a record from database





###### URL
    http://{{hostname}}/api/1.0/records
###### Parameters

- Path

<table border="1">
<tr>
    <th>Parameter</th>
    <th>Required</th>
    <th>Description</th>
    <th>Data Type</th>
</tr>
    
    <tr>
        <th>id</th>
        <td>required</td>
        <td>Record id that need to be deleted</td>
        <td><a href="#Integer">Integer</a></td>
    </tr>

</table>





###### Response

<table border="1">
    <tr>
        <th>Status Code</th>
        <th>Data Type</th>
        <th>Response</th>
    </tr>
    
    
        <tr>
            <td>204</td>
            <td><a href="#/definitions/Record">Record</a></td>
            <td>The Record was deleted successfully</td>
        </tr>
        [](#)
        
    
        <tr>
            <td>403</td>
            <td><a href="#/definitions/SimpleErrorMessage">SimpleErrorMessage</a></td>
            <td>You have to log into application first</td>
        </tr>
        [](#)
        
    
</table>


- - -

<h4>
    <a name="get#/records/{id}" class="method">get</a>
    `/records/{id}`
</h4>

Get one Record object by Id






###### URL
    http://{{hostname}}/api/1.0/records/{id}
###### Parameters

- Path

<table border="1">
<tr>
    <th>Parameter</th>
    <th>Required</th>
    <th>Description</th>
    <th>Data Type</th>
</tr>
    
    <tr>
        <th>id</th>
        <td>required</td>
        <td>The id of the record we need</td>
        <td><a href="#Integer">Integer</a></td>
    </tr>

</table>


- Body

<table border="1">
<tr>
    <th>Parameter</th>
    <th>Required</th>
    <th>Description</th>
    <th>Data Type</th>
</tr>
    
    <tr>
        <th>body</th>
        <td>required</td>
        <td>Record object that need to be added</td>
        <td><a href="#/definitions/Record">Record</a></td>
    </tr>

</table>



###### Response

<table border="1">
    <tr>
        <th>Status Code</th>
        <th>Data Type</th>
        <th>Response</th>
    </tr>
    
    
        <tr>
            <td>200</td>
            <td><a href="#/definitions/Record">Record</a></td>
            <td>Returns a journalist</td>
        </tr>
        [](#)
        
    
        <tr>
            <td>403</td>
            <td><a href="#/definitions/SimpleErrorMessage">SimpleErrorMessage</a></td>
            <td>You have to log into application first</td>
        </tr>
        [](#)
        
    
        <tr>
            <td>404</td>
            <td><a href="#/definitions/SimpleErrorMessage">SimpleErrorMessage</a></td>
            <td>Not found exception</td>
        </tr>
        [](#)
        
    
</table>


- - -

<h4>
    <a name="put#/records/{id}" class="method">put</a>
    `/records/{id}`
</h4>

Add new Record






###### URL
    http://{{hostname}}/api/1.0/records/{id}
###### Parameters






###### Response

<table border="1">
    <tr>
        <th>Status Code</th>
        <th>Data Type</th>
        <th>Response</th>
    </tr>
    
    
        <tr>
            <td>204</td>
            <td><a href="#/definitions/"></a></td>
            <td>-</td>
        </tr>
        [](#)
        
    
        <tr>
            <td>403</td>
            <td><a href="#/definitions/SimpleErrorMessage">SimpleErrorMessage</a></td>
            <td>You have to log into application first</td>
        </tr>
        [](#)
        
    
        <tr>
            <td>404</td>
            <td><a href="#/definitions/SimpleErrorMessage">SimpleErrorMessage</a></td>
            <td>Not found exception</td>
        </tr>
        [](#)
        
    
</table>


- - -

<h4>
    <a name="get#/user" class="method">get</a>
    `/user`
</h4>

Logged in user information






###### URL
    http://{{hostname}}/api/1.0/user
###### Parameters






###### Response

<table border="1">
    <tr>
        <th>Status Code</th>
        <th>Data Type</th>
        <th>Response</th>
    </tr>
    
    
        <tr>
            <td>200</td>
            <td><a href="#/definitions/User">User</a></td>
            <td>Returns a User object</td>
        </tr>
        [](#)
        
    
        <tr>
            <td>403</td>
            <td><a href="#/definitions/SimpleErrorMessage">SimpleErrorMessage</a></td>
            <td>You have to log into application first</td>
        </tr>
        [](#)
        
    
</table>


- - -

- - -
- - -
## Data Types


## <a name="/definitions/SimpleErrorMessage">SimpleErrorMessage</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>type</th>
        <th>required</th>
        <th>access</th>
        <th>description</th>
    </tr>
    
        <tr>
            <td>message</td>
            <td><a href="#/definitions/string">String</a></td>
            <td>required</td>
            <td>-</td>
            <td>-</td>
        </tr>
    
</table>
  



## <a name="/definitions/RecordTypes">RecordTypes</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>type</th>
        <th>required</th>
        <th>access</th>
        <th>description</th>
    </tr>
    
        <tr>
            <td>recordTypes</td>
            <td><a href="#/definitions/RecordType">array[RecordType]</a></td>
            <td>optional</td>
            <td>-</td>
            <td>Array of [RecordType](#/definitions/RecordType)</td>
        </tr>
    
</table>
  



## <a name="/definitions/User">User</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>type</th>
        <th>required</th>
        <th>access</th>
        <th>description</th>
    </tr>
    
        <tr>
            <td>firstName</td>
            <td><a href="#/definitions/string">String</a></td>
            <td>required</td>
            <td>-</td>
            <td>The User first name</td>
        </tr>
    
        <tr>
            <td>lastName</td>
            <td><a href="#/definitions/string">String</a></td>
            <td>required</td>
            <td>-</td>
            <td>The User last name</td>
        </tr>
    
        <tr>
            <td>country</td>
            <td><a href="#/definitions/string">String</a></td>
            <td>optional</td>
            <td>-</td>
            <td>The User country</td>
        </tr>
    
        <tr>
            <td>currency</td>
            <td><a href="#/definitions/string">String</a></td>
            <td>optional</td>
            <td>-</td>
            <td>The User default currency</td>
        </tr>
    
</table>
  



## <a name="/definitions/Pagination">Pagination</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>type</th>
        <th>required</th>
        <th>access</th>
        <th>description</th>
    </tr>
    
        <tr>
            <td>currentPage</td>
            <td><a href="#/definitions/integer">Integer</a></td>
            <td>optional</td>
            <td>-</td>
            <td>The selected page</td>
        </tr>
    
        <tr>
            <td>perPage</td>
            <td><a href="#/definitions/integer">Integer</a></td>
            <td>optional</td>
            <td>-</td>
            <td>How many records per page</td>
        </tr>
    
        <tr>
            <td>totalCount</td>
            <td><a href="#/definitions/integer">Integer</a></td>
            <td>optional</td>
            <td>-</td>
            <td>How many records are in Database</td>
        </tr>
    
        <tr>
            <td>prevPage</td>
            <td><a href="#/definitions/boolean">Boolean</a></td>
            <td>optional</td>
            <td>-</td>
            <td>A boolean showing if there is any previous page availavble for current Pagination</td>
        </tr>
    
        <tr>
            <td>nextPage</td>
            <td><a href="#/definitions/boolean">Boolean</a></td>
            <td>optional</td>
            <td>-</td>
            <td>A boolean showing if there is any next page availavble for current Pagination</td>
        </tr>
    
        <tr>
            <td>lastPage</td>
            <td><a href="#/definitions/integer">Integer</a></td>
            <td>optional</td>
            <td>-</td>
            <td>The last available page for current Pagination</td>
        </tr>
    
</table>
  



## <a name="/definitions/Record">Record</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>type</th>
        <th>required</th>
        <th>access</th>
        <th>description</th>
    </tr>
    
        <tr>
            <td>id</td>
            <td><a href="#/definitions/integer">Integer</a></td>
            <td>optional</td>
            <td>-</td>
            <td>The unique identifier representing a specific record.</td>
        </tr>
    
        <tr>
            <td>type</td>
            <td><a href="#/definitions/RecordType">RecordType</a></td>
            <td>optional</td>
            <td>-</td>
            <td>The type of the record. Default value: 0</td>
        </tr>
    
        <tr>
            <td>name</td>
            <td><a href="#/definitions/string">String</a></td>
            <td>required</td>
            <td>-</td>
            <td>The name of the Record.</td>
        </tr>
    
        <tr>
            <td>amount</td>
            <td><a href="#/definitions/float">Float</a></td>
            <td>required</td>
            <td>-</td>
            <td>The amount of money spent or received.</td>
        </tr>
    
        <tr>
            <td>currency</td>
            <td><a href="#/definitions/string">String</a></td>
            <td>optional</td>
            <td>-</td>
            <td>The currency of money spent or received.</td>
        </tr>
    
        <tr>
            <td>createdAt</td>
            <td><a href="#/definitions/DateTime">Date</a></td>
            <td>optional</td>
            <td>-</td>
            <td>The date when the record was created.</td>
        </tr>
    
        <tr>
            <td>category</td>
            <td><a href="#/definitions/Category">Category</a></td>
            <td>optional</td>
            <td>-</td>
            <td>The category of the record. Default value: 1</td>
        </tr>
    
</table>
  



## <a name="/definitions/Category">Category</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>type</th>
        <th>required</th>
        <th>access</th>
        <th>description</th>
    </tr>
    
        <tr>
            <td>id</td>
            <td><a href="#/definitions/integer">Integer</a></td>
            <td>optional</td>
            <td>-</td>
            <td>The unique identifier representing a specific record.</td>
        </tr>
    
        <tr>
            <td>name</td>
            <td><a href="#/definitions/string">String</a></td>
            <td>required</td>
            <td>-</td>
            <td>The name of category.</td>
        </tr>
    
</table>
  



## <a name="/definitions/QuickReport">QuickReport</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>type</th>
        <th>required</th>
        <th>access</th>
        <th>description</th>
    </tr>
    
        <tr>
            <td>today</td>
            <td><a href="#/definitions/float">Float</a></td>
            <td>optional</td>
            <td>-</td>
            <td>The amount spent today</td>
        </tr>
    
        <tr>
            <td>yesterday</td>
            <td><a href="#/definitions/float">Float</a></td>
            <td>optional</td>
            <td>-</td>
            <td>The amount spent yesterday</td>
        </tr>
    
        <tr>
            <td>thisMonth</td>
            <td><a href="#/definitions/float">Float</a></td>
            <td>optional</td>
            <td>-</td>
            <td>The amount spent this month</td>
        </tr>
    
        <tr>
            <td>lastMonth</td>
            <td><a href="#/definitions/float">Float</a></td>
            <td>optional</td>
            <td>-</td>
            <td>The amount spent last month</td>
        </tr>
    
</table>
  



## <a name="/definitions/Categories">Categories</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>type</th>
        <th>required</th>
        <th>access</th>
        <th>description</th>
    </tr>
    
        <tr>
            <td>categories</td>
            <td><a href="#/definitions/Category">array[Category]</a></td>
            <td>optional</td>
            <td>-</td>
            <td>Array of [Category](#/definitions/Category)</td>
        </tr>
    
</table>
  



## <a name="/definitions/Records">Records</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>type</th>
        <th>required</th>
        <th>access</th>
        <th>description</th>
    </tr>
    
        <tr>
            <td>records</td>
            <td><a href="#/definitions/Record">array[Record]</a></td>
            <td>optional</td>
            <td>-</td>
            <td>Array of [Record](#/definitions/Record)</td>
        </tr>
    
        <tr>
            <td>pagination</td>
            <td><a href="#/definitions/Pagination">Pagination</a></td>
            <td>optional</td>
            <td>-</td>
            <td>Pagination object</td>
        </tr>
    
</table>
  



## <a name="/definitions/RecordType">RecordType</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>type</th>
        <th>required</th>
        <th>access</th>
        <th>description</th>
    </tr>
    
        <tr>
            <td>id</td>
            <td><a href="#/definitions/integer">Integer</a></td>
            <td>required</td>
            <td>-</td>
            <td>Unique identifier representing a specific record type.</td>
        </tr>
    
        <tr>
            <td>name</td>
            <td><a href="#/definitions/string">String</a></td>
            <td>optional</td>
            <td>-</td>
            <td>The name of the RecordType.</td>
        </tr>
    
</table>
  


</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>
