{% extends 'SpendingsAppBundle::layout.html.twig' %}

{% block title %}My Spendings - Login{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-3">
        <h5>Welcome to user management</h5>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        
    </div>
</div>

{% endblock %}