{% extends 'SpendingsAppBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row ">
            <div class="bs-callout bs-callout-warning col-lg-12">
                We are running in a <span class="text-danger">BETA</span> version right now. If you see something strange :) please contact us
                on the following email addresses: <span class="text-warning">larisa_dubau</span>{at}yahoo.com, <span class="text-warning">dubau_razvan</span>{at}yahoo.com
            </div>
        </div>
    </div>
{% endblock %}