{% extends "SpendingsAppBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="container">
        <div class="row ">
            <div class="alert alert-info">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</div>
        </div>
    </div>
{% endblock content %}