{% extends "SpendingsAppBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="container">
        <div class="row ">
            <div class="alert alert-success">
                <p>{{ 'registration.confirmed'|trans({'%username%': user.email}) }}</p>
            </div>
            
            {% if targetUrl %}
            
            <p class="pull-right">
                <a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a>
            </p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
