{% trans_default_domain 'FOSUserBundle' %}

<div class=" col-lg-6">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

        <h2 class="text-muted">Sign Up</h1>

        {{ form_widget(form) }}
        <div class="pull-right">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    {{ form_end(form) }}

</div>
