{% extends "SpendingsAppBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'SpendingsUserBundle:Form:fields.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% include "SpendingsUserBundle:Registration:register_content.html.twig" %}
        </div>
    </div>
{% endblock content %}
