<!DOCTYPE html>
<html>
<title>Spendings v1.0.0</title>
<style type="text/css">
.method {
    text-transform: uppercase;
}
h4 > code {
    font-size: 14px;
}

</style>

<xmp theme="united" style="display:none;">

{{#reop}}
    {{name}} 
{{/reop}} 
#API Document


## BasePath: {{basePath}}

## Api Version: {{version}}

## Index of Resources and Operations
{{#apiInfo}}
<ol>
    {{#apis}}
        {{#operations}}
            {{#operation}}
            <li>
                <a href="#{{httpMethod}}#{{path}}"><span class="method">{{httpMethod}}</span> {{path}}</a>
            </li>
            {{/operation}}
        {{/operations}}
    {{/apis}}
</ol>
{{/apiInfo}}

## Resources
{{#apiInfo}}
{{#apis}}
{{#operations}}
{{#operation}}

<h4>
    <a name="{{httpMethod}}#{{path}}" class="method">{{httpMethod}}</a>
    `{{path}}`
</h4>

{{summary}}

{{#notes}}
##### Description
{{notes}}
{{/notes}}


{{consumes}}
{{produces}}

###### URL
    {{basePath}}{{path}}
###### Parameters

{{#hasPathParams}}
- Path

<table border="1">
<tr>
    <th>Parameter</th>
    <th>Required</th>
    <th>Description</th>
    <th>Data Type</th>
</tr>
{{#pathParams}}
    {{>pathParam}}
{{/pathParams}}
</table>
{{/hasPathParams}}

{{#hasQueryParams}}
- Query

<table border="1">
<tr>
    <th>Parameter</th>
    <th>Required</th>
    <th>Description</th>
    <th>Data Type</th>
</tr>
{{#queryParams}}
    {{>queryParam}}
{{/queryParams}}
</table>
{{/hasQueryParams}}

{{#hasBodyParam}}
- Body

<table border="1">
<tr>
    <th>Parameter</th>
    <th>Required</th>
    <th>Description</th>
    <th>Data Type</th>
</tr>
{{#bodyParams}}
    {{>bodyParam}}
{{/bodyParams}}
</table>
{{/hasBodyParam}}


{{#parameters}}
{{#parameter}}
- {{paramType}}

    <table border="1">
        <tr>
            <th>Parameter</th>
            <th>Required</th>
            <th>Description</th>
            <th>Data Type</th>
        </tr>
        {{#paras}}
        <tr>
            <th>{{name}}</th>
            <td>{{required}}</td>
            <td>{{description}}</td>
            <td>{{#linkType}}<a href="#/definitions/{{linkType}}">{{type}}</a>{{/linkType}}{{^linkType}}{{type}}{{/linkType}}</td>
        </tr>
        {{/paras}}
    </table>
{{/parameter}}
{{/parameters}}

###### Response

<table border="1">
    <tr>
        <th>Status Code</th>
        <th>Data Type</th>
        <th>Response</th>
    </tr>
    
    {{#responses}}
        <tr>
            <td>{{code}}</td>
            <td><a href="#/definitions/{{dataType}}">{{dataType}}</a></td>
            <td>{{message}}</td>
        </tr>
        [{{className}}](#{{classLinkName}}){{^genericClasses}}{{/genericClasses}}{{#genericClasses}}< [{{className}}](#{{classLinkName}}) >{{/genericClasses}}
        {{#examples}}
        <h3 class="field-label">Example data</h3>
        <div class="example-data-content-type">Content-Type: {{{contentType}}}</div>
        <pre class="example"><code>{{example}}</code></pre>
        {{/examples}}
    {{/responses}}
</table>

{{#samples}}
###### Samples
{{/samples}}
{{#samples}}
{{sampleDescription}}

- Sample Request


{{{sampleRequest}}}


- Sample Response


{{{sampleResponse}}}


{{/samples}}

- - -
{{/operation}}
{{/operations}}
{{/apis}}
{{/apiInfo}}

- - -
- - -
## Data Types
{{#models}}
{{#model}}


## <a name="/definitions/{{name}}">{{name}}</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>type</th>
        <th>required</th>
        <th>access</th>
        <th>description</th>
    </tr>
    {{#vars}}
        <tr>
            <td>{{#name}}{{{name}}}{{/name}}{{^name}}-{{/name}}</td>
            <td>{{#complexType}}<a href="#/definitions/{{complexType}}">{{datatype}}</a>{{/complexType}}{{^complexType}}{{datatype}}{{/complexType}}</td>
            <td>{{#required}}required{{/required}}{{^required}}optional{{/required}}</td>
            <td>{{#access}}{{{access}}}{{/access}}{{^access}}-{{/access}}</td>
            <td>{{#description}}{{{description}}}{{/description}}{{^description}}-{{/description}}</td>
        </tr>
    {{/vars}}
</table>
  

{{/model}}
{{/models}}

</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>
