<!DOCTYPE html>
<html>
<title>Spendings v1.0.0</title>
<style type="text/css">
.method {
    text-transform: uppercase;
}
h4 > code {
    font-size: 14px;
}

</style>

<xmp theme="united" style="display:none;">

 
#API Document


## BasePath: http://{{hostname}}/api/1.0

## Api Version: 

## Index of Resources and Operations
<ol>
    
        
            
            <li>
                <a href="#get#/records"><span class="method">get</span> /records</a>
            </li>
            
            <li>
                <a href="#post#/records"><span class="method">post</span> /records</a>
            </li>
            
            <li>
                <a href="#get#/records/{id}"><span class="method">get</span> /records/{id}</a>
            </li>
            
            <li>
                <a href="#put#/records/{id}"><span class="method">put</span> /records/{id}</a>
            </li>
            
        
    
</ol>

## Resources

<h4>
    <a name="get#/records" class="method">get</a>
    `/records`
</h4>


Returns an Array of Record[]






###### URL
    http://{{hostname}}/api/1.0/records
###### Parameters





###### Response

<table border="1">
    <tr>
        <th>Status Code</th>
        <th>Data Type</th>
        <th>Response</th>
    </tr>
    
    
        <tr>
            <td>200</td>
            <td><a href="#/definitions/Records">Records</a></td>
            <td>Returns array of Record[]</td>
        </tr>
        [](#)
        
    
</table>


- - -

<h4>
    <a name="post#/records" class="method">post</a>
    `/records`
</h4>


Add new Record
Will create a new record based on Record object structure





###### URL
    http://{{hostname}}/api/1.0/records
###### Parameters


- Body

<table border="1">
<tr>
    <th>Parameter</th>
    <th>Required</th>
    <th>Description</th>
    <th>Data Type</th>
</tr>
    
    <tr>
        <th>body</th>
        <td>required</td>
        <td>Record object that need to be added</td>
        <td><a href="#Record">Record</a></td>
    </tr>

</table>



###### Response

<table border="1">
    <tr>
        <th>Status Code</th>
        <th>Data Type</th>
        <th>Response</th>
    </tr>
    
    
        <tr>
            <td>201</td>
            <td><a href="#/definitions/Record">Record</a></td>
            <td>Created</td>
        </tr>
        [](#)
        
    
        <tr>
            <td>0</td>
            <td><a href="#/definitions/Error">Error</a></td>
            <td>Unexpected error</td>
        </tr>
        [](#)
        
    
</table>


- - -

<h4>
    <a name="get#/records/{id}" class="method">get</a>
    `/records/{id}`
</h4>


Get one Record object by Id






###### URL
    http://{{hostname}}/api/1.0/records/{id}
###### Parameters

- Path

<table border="1">
<tr>
    <th>Parameter</th>
    <th>Required</th>
    <th>Description</th>
    <th>Data Type</th>
</tr>
    
    <tr>
        <th>id</th>
        <td>required</td>
        <td>The id of the record we need</td>
        <td><a href="#Integer">Integer</a></td>
    </tr>

</table>




###### Response

<table border="1">
    <tr>
        <th>Status Code</th>
        <th>Data Type</th>
        <th>Response</th>
    </tr>
    
    
        <tr>
            <td>200</td>
            <td><a href="#/definitions/Record">Record</a></td>
            <td>Returns a journalist.</td>
        </tr>
        [](#)
        
    
        <tr>
            <td>404</td>
            <td><a href="#/definitions/SimpleError">SimpleError</a></td>
            <td>Not found exception</td>
        </tr>
        [](#)
        
    
</table>


- - -

<h4>
    <a name="put#/records/{id}" class="method">put</a>
    `/records/{id}`
</h4>


Add new Record
Will create a new record based on Record object structure





###### URL
    http://{{hostname}}/api/1.0/records/{id}
###### Parameters





###### Response

<table border="1">
    <tr>
        <th>Status Code</th>
        <th>Data Type</th>
        <th>Response</th>
    </tr>
    
    
        <tr>
            <td>204</td>
            <td><a href="#/definitions/"></a></td>
            <td></td>
        </tr>
        [](#)
        
    
        <tr>
            <td>0</td>
            <td><a href="#/definitions/Error">Error</a></td>
            <td>Unexpected error</td>
        </tr>
        [](#)
        
    
</table>


- - -

- - -
- - -
## Data Types


## <a name="/definitions/Record">Record</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>type</th>
        <th>required</th>
        <th>access</th>
        <th>description</th>
        <th>notes</th>
    </tr>
    
        <tr>
            <td>id</td>
            <td><a href="#/definitions/integer">Integer</a></td>
            <td>required</td>
            <td>-</td>
            <td>The unique identifier representing a specific record.</td>
            <td>-</td>
        </tr>
    
        <tr>
            <td>type</td>
            <td><a href="#/definitions/RecordType">RecordType</a></td>
            <td>required</td>
            <td>-</td>
            <td>The type of the record.</td>
            <td>-</td>
        </tr>
    
        <tr>
            <td>name</td>
            <td><a href="#/definitions/string">String</a></td>
            <td>required</td>
            <td>-</td>
            <td>The name of the Record.</td>
            <td>-</td>
        </tr>
    
        <tr>
            <td>amount</td>
            <td><a href="#/definitions/string">String</a></td>
            <td>required</td>
            <td>-</td>
            <td>The amount of money spent or received.</td>
            <td>-</td>
        </tr>
    
        <tr>
            <td>createdAt</td>
            <td><a href="#/definitions/string">String</a></td>
            <td>optional</td>
            <td>-</td>
            <td>The date when the record was created.</td>
            <td>-</td>
        </tr>
    
</table>
  



## <a name="/definitions/Records">Records</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>type</th>
        <th>required</th>
        <th>access</th>
        <th>description</th>
        <th>notes</th>
    </tr>
    
        <tr>
            <td>records</td>
            <td><a href="#/definitions/Record">array[Record]</a></td>
            <td>optional</td>
            <td>-</td>
            <td>Array of [Record](#/definitions/Record)</td>
            <td>-</td>
        </tr>
    
</table>
  



## <a name="/definitions/RecordType">RecordType</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>type</th>
        <th>required</th>
        <th>access</th>
        <th>description</th>
        <th>notes</th>
    </tr>
    
        <tr>
            <td>id</td>
            <td><a href="#/definitions/integer">Integer</a></td>
            <td>optional</td>
            <td>-</td>
            <td>Unique identifier representing a specific record type.</td>
            <td>-</td>
        </tr>
    
        <tr>
            <td>name</td>
            <td><a href="#/definitions/string">String</a></td>
            <td>optional</td>
            <td>-</td>
            <td>The name of the RecordType.</td>
            <td>-</td>
        </tr>
    
</table>
  



## <a name="/definitions/RecordTypes">RecordTypes</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>type</th>
        <th>required</th>
        <th>access</th>
        <th>description</th>
        <th>notes</th>
    </tr>
    
</table>
  



## <a name="/definitions/SimpleErrorMessage">SimpleErrorMessage</a>

<table border="1">
    <tr>
        <th>name</th>
        <th>type</th>
        <th>required</th>
        <th>access</th>
        <th>description</th>
        <th>notes</th>
    </tr>
    
        <tr>
            <td>message</td>
            <td><a href="#/definitions/string">String</a></td>
            <td>required</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    
</table>
  


</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>
