{{#isQueryParam}}

    <tr>
        <th>{{paramName}}</th>
        <td>{{^required}}optional{{/required}}{{#required}}required{{/required}}</td>
        <td>{{description}}</td>
        <td><a href="#{{dataType}}">{{dataType}}</a></td>
    </tr>
{{/isQueryParam}}