{% extends 'SpendingsAppBundle::layout.html.twig' %}

{% block title %}User management - Expenses Tracker{% endblock %}

{% block content %}
    
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h5>Welcome to user management</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {{ form_widget(form) }}
        </div>
    </div>
</div>
    
{% endblock %}