{% extends 'SpendingsAppBundle::layout.html.twig' %}

{% block title %}User management - Book Store{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h5>Welcome to user management</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Username</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.username }}</td>

                        <td>
                            <a href="{{ path('spendings_user_edit', {'id' : user.id}) }}" class="btn btn-primary">Edit</a>
                            <a href="{{ path('spendings_user_delete', {'id' : user.id}) }}" onclick="if ( ! confirm('Are you sure?')) return false;" class="btn btn-danger">Delete</a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}