{% extends 'AcmeBookBundle::layout.html.twig' %}

{% block title %}User management - Book Store{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h3 class="text-danger">{{ exception.getMessage() }}</h3>
        
        {% if app.environment == 'dev' %}
        <pre>{{ exception.__toString() }}</pre>
        {% endif %}
    </div>
</div>

{% endblock %}