{% extends 'SpendingsAppBundle::layout.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <h2 class="col-lg-12">
               Welcome <span class="text-primary">{{ user.firstName }}</span>
            </h2>
        </div>

        <div class="row">
            <div class="col-lg-12">
                {% block fos_user_content %}
                    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>

{% endblock %}
