{% extends "base.html.twig" %}

{% block head %}
    {% block stylesheets %}

        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <!-- Optional theme -->
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}">
        
        <link rel="stylesheet" href="{{ asset('css/body.css') }}">
        
    {% endblock %}
{% endblock %}

{% block body %}
    <div id="wrap">
        {% block header %}
            <header>
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand glyphicon glyphicon-home" href="{{ path('spendings_app_homepage') }}"></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="{{ path('spendings_app_tracker') }}">Go to Tracker</a></li>
                                <li><a href="{{ path('spendings_app_about') }}">About</a></li>
                                {#{% block addRecordButton %}#}
                                {#{% endblock %}#}
                            </ul>
                            {#
                                <form class="navbar-form navbar-left" role="search">
                                  <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                  </div>
                                  <button type="submit" class="btn btn-default">Submit</button>
                                </form>
                            #}

                            {% if is_granted('ROLE_USER') %}
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        Account <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('fos_user_profile_show') }}">My Profile</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ path('logout') }}">Log Out</a></li>
                                    </ul>
                                  </li>
                                </ul>
                            {% else %}
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="{{ path('fos_user_registration_register') }}">Sign Up</a></li>
                                </ul>
                            {% endif %}
                        </div><!-- /.navbar-collapse -->
                    </div>
                </nav>
            </header>
        {% endblock %}
    
    
        {% block content %}{% endblock %}
        
        
    </div>
    
   <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 hidden-xs">
                    <a class="text-info" href="{{ path('spendings_app_tracker') }}">Tracker</a>
                    -
                    <a href="{{ path('spendings_app_contact') }}" class="text-info">Contact</a>
                </div>
                <div class="col-sm-6 text-right text-muted">
                    &copy; Copyright 2015 <a href="http://www.extragsm.com">ExtraGSM.com</a>
                </div>
            </div>
        </div>
    </footer> 
    
{% endblock %}

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
{% endblock %}