{% extends 'SpendingsAppBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row" id="react-container">
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="https://unpkg.com/react@latest/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <script type="text/babel" src="/js/react/tracker.js"></script>
{% endblock %}