{% extends 'SpendingsAppBundle::layout.html.twig' %}

{#{% block addRecordButton %}#}
    {#<li>#}
        {#<!-- Button trigger modal -->#}
        {#<a href="#" data-toggle="modal" data-target="#addRecordModal">#}
            {#<strong class="text-primary">Add New Record</strong>#}
        {#</a>#}
    {#</li>#}
{#{% endblock %}#}

{% block content %}
    <div class="container">
        <div class="row ">
            <div class="col-lg-4 col-xs-12">
                <div class="row">
                    <div class="col-lg-12">
                        <h4>Quick Reports</h4>    
                        <div class="bs-callout bs-callout-info col-lg-12">
                            <strong class="col-lg-7">Today</strong>
                            <span class="col-lg-5 pull-right text-right">
                                <strong id="quickReports-today"></strong> RON
                            </span>
                        </div>
                        <div class="bs-callout bs-callout-warning col-lg-12">
                            <strong class="col-lg-7">Yesterday</strong>
                            <span class="col-lg-5 pull-right text-right">
                                <strong id="quickReports-yesterday"></strong> RON
                            </span>
                        </div>
                        <div class="bs-callout bs-callout-danger col-lg-12">
                            <strong class="col-lg-7">This month</strong>
                            <span class="col-lg-5 pull-right text-right">
                                <strong id="quickReports-thisMonth"></strong> RON
                            </span>
                        </div>
                        <div class="bs-callout bs-callout-warning col-lg-12">
                            <strong class="col-lg-7">Last month</strong>
                            <span class="col-lg-5 pull-right text-right">
                                <strong id="quickReports-lastMonth"></strong> RON
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <h4>Filters</h4>
                        <select name="filter-category" class="form-control">
                            <option value="0" class="text-muted">-- Select a Category --</option>
                        </select>

                        <br />

                        <select name="filter-period" class="form-control" style="display: none;">
                            <option class="text-muted">-- Select a Period --</option>
                            <option>Today</option>
                            <option>Yesterday</option>
                            <option>This week</option>
                            <option>Last week</option>
                            <option>This month</option>
                            <option>Last month</option>
                        </select>
                    </div>

                </div>


            </div>

            <div class="col-lg-8 col-xs-12">
                <div class="row">
                    <h4 class="col-xs-6">Tracker</h4>
                    <div class="col-xs-6">
                        <a href="#" data-toggle="modal" data-target="#addRecordModal" class="btn-add-record text-primary pull-right">
                            <i class="glyphicon glyphicon-plus"></i>
                            Add New
                        </a>
                    </div>
                </div>


                <div class="row tracker-list-head bs-callout-info">
                    <div class="col-xs-10 col-sm-11">
                        <div class="hidden-xs row">
                            <span class="col-sm-3">Name</span>
                            <span class="col-sm-3 text-right">Amount</span>
                            <span class="col-sm-3">Category</span>
                            <span class="col-sm-3">Date</span>
                        </div>
                        <div class="hidden-lg hidden-md hidden-sm row">
                            <span class="col-xs-12">Details</span>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-1"></div>
                </div>

                <div id="trackerList"></div>

                <nav>
                    <ul class="pager">
                        <li class="prev-page"><a href="#">Previous</a></li>
                        <li class="next-page"><a href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- Modal popups -->

    <!-- Delete record popup -->
    <div class="modal fade" id="deleteModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body">
                    <p>Are you sure you want to delete this record?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger recordDelete" data-dismiss="modal">Yes</button>
                    <button type="button" class="btn btn-default recordDeleteCancel" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>


    <!-- Modal popups -->

    <!-- Edit record popup -->
    <div class="modal fade" id="editRecordModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit record</h4>
                </div>

                <div class="modal-body">
                    <form action="" class="form-horizontal" role="form">
                        <input type="hidden" name="edit-id">
                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label" >Name:</label>
                            <div class="col-sm-7">
                                <input type="text" name="edit-name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="amount" class="col-sm-3 control-label">Amount:</label>
                            <div class="col-sm-7">
                                <input type="text" name="edit-amount" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="categories" class="col-sm-3 control-label">Category:</label>
                            <div class="col-sm-7">
                                <select name="edit-category" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="currency" class="col-sm-3 control-label">Currency:</label>
                            <div class="col-sm-7">
                                <span class="currency-holder"></span>
                                <span class="currency-info glyphicon glyphicon-question-sign" data-delay="0" data-placement="top"  data-toggle="tooltip" title="Currency used from user profile!"></span>
                            </div>
                        </div>
                        <div class="form-group">        
                            <div class="col-sm-offset-3 col-sm-10">
                                <input id="newRecords" type="submit" value="Save" class="btn btn-success saveNew">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default recordDeleteCancel" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>



    <!-- Add new record popup -->
    <!-- Modal -->
    <div class="modal fade" id="addRecordModal" tabindex="-1" role="dialog" 
         aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add new record</h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <div class="alert alert-danger textDanger"  style="display: none;" role="alert"></div>
                    <form action="" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label" >Name:</label>
                            <div class="col-sm-7">
                                <input type="text" name="name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="amount" class="col-sm-3 control-label">Amount:</label>
                            <div class="col-sm-7">
                                <input type="text" name="amount" class="form-control">
                            </div>
                        </div>
                        <div class="form-group select">
                            <label for="categories" class="col-sm-3 control-label">Category:</label>
                            <div class="col-sm-7">
                                <select name="category" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="currency" class="col-sm-3 control-label">Currency:</label>
                            <div class="col-sm-7">
                                <span class="currency-holder"></span>
                                <span class="currency-info glyphicon glyphicon-question-sign" data-delay="0" data-placement="top"  data-toggle="tooltip" title="Currency used from user profile!"></span>
                            </div>
                        </div>
                        <div class="form-group">        
                            <div class="col-sm-offset-3 col-sm-10">
                                <input id="trackerSubmit" type="submit" value="Save" class="btn btn-success">
                            </div>
                        </div>
                    </form>
                </div>    
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="/js/tracker.js"></script>
{% endblock %}