{% extends 'SpendingsAppBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                <h2>Why this application?</h2>
                <div>
                    We've came up with this ideea because we ended up almost every month with less money in the pocket than we've planned. 
                    So, we thought that if there is any way to store every expenses that we've made, it will help us to track our expenses much easier. 
                </div>

                <h2>What can you do with it?</h2>
                <div>
                    The expenses tracker app is meant to store all your daily expenses informations like (name, amount, category, etc.). 
                    You can use this application to quickly add a record whenever you spend some money.<br />
                    Adding a new record is very quick because we are trying to keep the form as simple as possible.<br />
                    <br />
                    After having many records added into tracker, you will be able to filter them and to group them in different ways.<br />
                    <br />
                    Why? It will help you to identify on what are you spending much than you expect.

                    <br /><br />

                    The <a href="{{ path('spendings_app_tracker') }}">Tracker</a> is showing you some quick reports:
                    <ul>
                        <li>Today</li>
                        <li>Yesterday</li>
                        <li>This Month</li>
                        <li>Last Month</li>
                    </ul>
                    All of them are showing some valuable information for a specific period of time.
                    Also you are able to add the expenses to different categories and use a filter to group them by a specific category.
                </div>
                <br />
                <div class="bs-callout bs-callout-warning col-lg-12">
                    We are running in a <span class="text-danger">BETA</span> version right now. If you see something strange :) please contact us
                    on the following email addresses: <span class="text-warning">larisa_dubau</span>{at}yahoo.com, <span class="text-warning">dubau_razvan</span>{at}yahoo.com
                </div>
            </div>
        </div>
    </div>
{% endblock %}