html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -50px;
    /* Pad bottom by footer height */
    padding: 60px 0 50px;
}

footer {
    border-top: 1px solid #ccc;
    height: 50px;
    line-height: 40px;
    background: #f7f7f7;
    font-size: 12px;
}


Table tr td:first-child {
    display: none;
}

Table tr th:first-child {
    display: none;
}

h4 {
    margin-top: 20px;
}

.bs-callout {
    margin: 0 0 5px 0;
    padding: 10px;
    border-left: 3px solid #eee;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}

/* Variations */
.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #eed3d7;
}
.bs-callout-danger h4 {
    color: #b94a48;
}
.bs-callout-warning {
    background-color: #faf8f0;
    border-color: #faebcc;
}
.bs-callout-warning h4 {
    color: #8a6d3b;
}
.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #bce8f1;
}
.bs-callout-info h4 {
    color: #34789a;
}

.form-control {
    color: #333;
}

.currency-holder {
    display: inline-block;
    padding-top: 7px;
}

.currency-info {
    cursor: pointer;
}

#trackerList > div.row, .tracker-list-head {
    padding-top: 8px;
    padding-bottom: 7px;
    border-bottom: 1px solid #eee;
} 

.tracker-list-head span {
    font-weight: bold;
}

.record-currency {
    color: #888;
    font-size: 0.8em;
}

@media screen and (max-width: 767px) {
    .record-category {
        padding-top: 10px;
        font-size: 0.8em;
        color: #34789a;
    }
    
    .record-date {
        padding-top: 10px;
        font-size: 0.8em;
        color: #888;
        text-align: right;
    }
}

.home-icons {
    display: none;
    margin-top: 10px;
}

.home-icons > span {
    font-size: 50px;
    color: lightsteelblue;
    border: 5px solid #eee;
    border-radius: 180px;
    width: 100px;
    height: 100px;
}


.icono-search::before {
    border-radius: 0 0 1px 1px;
    box-shadow: 0 0 0 32px inset;
    height: 7px;
    top: 19px;
    width: 5px;
}
.icono-search::before {
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
.icono-search::after, .icono-search::before {
    content: "";
    pointer-events: none;
}

.icono-search {
    box-sizing: border-box;
    color: #ddd;
    direction: ltr;
    display: inline-block;
    font-style: normal;
    position: relative;
    text-align: left;
    text-indent: -9999px;
    vertical-align: middle;
    border-radius: 50%;
    height: 22px;
    margin: 4px 4px 8px 8px;
    transform: rotate(-38deg);
    width: 22px;
    border: 3px solid;
}

.btn-add-record {
    margin-top: 14px;
    padding: 5px;
}