{% extends 'SpendingsAppBundle::layout.html.twig' %}

{% block content %}
    
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="text-muted">Welcome to your <span class="text-danger">expenses</span> tracker</h1>
                <img class="img-responsive" src="/images/home-banner.jpg" alt="My tracker"/>
            </div>

            <form action="{{ path('login_check') }}" method="post" class="col-lg-4">
                <h2 class="text-muted">Sign In</h1>
                
                {% if error is defined and error %}
                    <div class="text-danger">{{ error.message }}</div>
                {% endif %}
                
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password" name="_password" placeholder="Password">
                </div>
                
                <div class="form-group">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me" class="text-info">Remember Me</label>
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
    </div>
    
{% endblock %}