{% extends 'SpendingsAppBundle::layout.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-muted">Welcome <span class="text-danger">{{ user.firstName }}</span></h1>
                    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
   
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="/js/highchart-theme.js"></script>
    <script type="text/javascript" src="/js/homepage.js"></script>
{% endblock %}